<!-- Menu -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
	<div class="container-fluid">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav flex-grow-1 text-center">
				<a class="nav-link flex-grow-1" aria-current="page" href="{{ site.baseurl }}/">Revistas</a>
				<a class="nav-link flex-grow-1 actvie" aria-current="page" href="{{ site.baseurl }}/about">¿Quienes somos?</a>
				<a class="nav-link flex-grow-1" aria-current="page" href="{{ site.baseurl }}/contact">Redes Sociales</a>
			</div>
		</div>
	</div>
</nav>