---
layout: "default"
---

<section class="logo__container">
	<img src="assets/images/logo_remove2.png" alt="logo" class="logo">
</section>

<section class="magazines__container">
	{% for year in site.data.revistas.years %}
		<div class="magazines__year">
			{{ year.year }}
		</div>
		<div class="magazines container">
			<div class="row">
				{% for magazine in year.magazines %}
					<div class="magazines__item col-sm-4">
						<h3 class="magazine__month">{{ magazine.name }}</h3>
						<a href="{{magazine.url }}"><img src="assets/images/{{magazine.image}}" class="img-fluid magazine__img"></a>
						<button class="magazine__bib"><a href="#">BIBLIOGRAFÍA</a></button>
					</div>
					{% endfor %}
			</div>
		</div>

	{% endfor %}
</section>