---
layout: default
---

<h1 class="title"> Redes sociales </h1>


<div class="social-box">
	<div class="container">
		<div class="row">		

		 <div class="col-lg-4 col-xs-12 text-center">
			<div class="box">
					<i class="fa fa-facebook fa-3x" aria-hidden="true"></i>
				<div class="box-title">
					<h3>Facebook</h3>
				</div>
				<div class="box-text">
					<span>Síguenos en Facebook para obtener actualizaciones de nuestro contenido</span>
				</div>
				<div class="box-btn">
					<a href="https://www.facebook.com/profile.php?id=100091035010055">DsCIence</a>
			</div>
			 </div>
		</div>		


		<div class="col-lg-4 col-xs-12 text-center">
			<div class="box">
				<i class="fa fa-youtube-play fa-3x"></i>
				<div class="box-title">
					<h3>Youtube</h3>
				</div>
				<div class="box-text">
					<span>Síguenos en nuestro canal de Youtube, esperamos que sea de tu agrado</span>
				</div>
				<div class="box-btn">
					<a href="https://www.youtube.com/@revistadci">@revistadci</a>
				</div>
			 </div>
		</div>	


		<div class="col-lg-4 col-xs-12 text-center">
			<div class="box">
				<i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
				<div class="box-title">
					<h3>Instagram</h3>
				</div>
				<div class="box-text">
					<span>Y también en instagram, compartimos actualizaciones de temas variados dentro de la DCI</span>
				</div>
				<div class="box-btn">
					<a href="https://www.instagram.com/revista_dscience/">@revista_dscience</a>
				</div>
			 </div>
		</div>	




		<div class="col-lg-4 col-xs-12 text-center">
			<div class="box">
									<i class="fa fa-github fa-3x" id="github" aria-hidden="true"></i>
				<div class="box-title">
					<h3>Github</h3>
				</div>
				<div class="box-text">
					<span>Con ayuda y colaboración de <a class="box-btn" href="http://github.com/BubuDavid">@BubuDavid</a> para hacer la página, aquí está su perfil de GitHub 💛</span>
				</div>
			 </div>
		</div>
	</div>		
	</div>
</div>